---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "July 2024 - Present",
    title: "Business Analyst",
    company: "Metanet Vina",
    description:
      "From July 2024 to July 2025, I am part of the full scope of SAP system development for Orion Food Vina and Orion Korea, coordinating meetings with cross-functional and international teams, including PMO, developers, and end-users in Vietnam and Korea, to ensure alignment on evolving project requirements across multiple time zones. I dedicate several hours to system monitoring and user support, leveraging AI chatbots to streamline processing times. Additionally, I create and update documentation for four systems in real-time to maintain accurate project information. My responsibilities also include researching AI transformation methods for employee training, focusing on tools like n8n and UI Path for workflow automation, as well as Copilot for code refactoring.",
    link: "https://www.metanet.co.kr/en/",
  },
  {
    date: "July 2023 - May 2024",
    title: "Business Analyst",
    company: "Fintech Draco Corproration",
    description:
      "As a Business Analyst at Draco Corporation from July 2023 to May 2024, I coordinated the BA and digital solution teams, integrating Waterfall and Agile Scrum methodologies to enhance work efficiency by over 45% and reduce task delays to 15%. I researched and documented API specifications for a multi-platform e-commerce system, establishing connections with Lazada, TikTok Shop, Tiki, and WooCommerce, while preparing documentation for Momo, PayPal, and VietQR integrations. Additionally, I collaborated with the Accounting and Sales-Marketing teams to update the E-Accounting system and deploy automated shopping services. By applying Agile to four projects and Waterfall to two, I ensured project timelines were met, reducing average time and costs by 22%.",
    link: "https://fintechdraco.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
